extends partials/layout.pug

block content
		h1.title Are you committed?  Cause these are your Github commits!
		ul
			li #{name} has #{dayCount} commits today.
			li #{name} has #{weekCount} commits in the last seven days.
			li #{name} has #{monthCount} commits in the last month.
